body { background-color: #15191C;
    width: 100%
}

.slick-header-column {
    background-color: #15191C !important;
    font-family: Helvetica;
    font-size:18px;
    font-style: normal;
    color:#FFFFFF;
    border-color: #3b3a37;
  }

.slick-cell {
    background-color:#15191C;
    background-image: none;
    font-size: 1.5vh;
    font-family: Helvetica;
    font-style: normal;
    color:#FFFFFF;
    border-color: #3b3a37;
    border-bottom: solid 1px #ffffff;
}

.box {
        display: block;
        height: calc(85vh-20px);
        width: 150vh;
        max-width: 150vh;
        max-height: 85vh;
}

.centered-text {
    display : block;
    margin : 0 auto;
    text-align: center;
    width: 150vh;
}